body {
  background-color: rgba(248, 250, 109, 0.795);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}

.game-pad {
  display: flex;
  flex-direction: column;
  background-color: rgba(224, 22, 22, 0.945);  
  padding: 5px 30px 20px 30px;
  border-radius: 25px;
  margin: 0 auto;
  box-shadow: 10px 10px rgb(119, 18, 18);
}

.grid-screen {
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);
  width: 512px;
  height: 512px;
  margin: 0 auto;
}

.grid-item {
  background-color: rgba(139, 194, 184, 0.952);
  border: 0px solid black;
}

button {
  background-color: rgb(139, 194, 184, .952);;
  font-size: medium;
  font-weight: 600;
  border-style: none;
  border-radius: 5px;
  color: black;
  border: 1px solid black;
  width: 75px;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 80px;
}

h1 {
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
}

h2 {
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.slider-container {
  display: flex;
  align-items: center;
}

.slider {
  -webkit-appearance: none;
  background: rgb(0, 0, 0);
  border-radius: 25px;
  height: 5px;
  color: aquamarine;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 18px;
  background-color: rgb(250, 230, 53);
  overflow: visible;
  cursor: pointer;
}

.options {
  display: inline-flex;
  align-items: center;
  margin-top: -25px;
}